/* Greek Yogurt theme by concrete5 */

/* some general styles */
html {
	height: auto;
	background : black;
}


/* main styles */

div#main-container {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

div#main-content-container-top {
	background-color : #5482b0;
}
div#main-content-container-bottom {
	background-color : #ffffff;
	height : 200px
}

div#header-image {
	background : url(images/upper_banner.png);
	height: 320px;
	width: 1140px;
	overflow: visible;
}
div#shield{
	float: center;
	background: url(images/shield_with_shadow.png);
	height: 194px;
	width: 223px;
	z-index: 1;
	position : relative;
	left : 458.5px;
	top: 260px;	
}
div#nav-links {
	position : relative;
	top: 89px;	
}

div#main-header {
	background-color : #7998b6;
	border-bottom-width: 2px; 
	border-style: dashed; 
	border-color: white;
}


div#header-image-nav {
	margin: 55px 40px 60px 40px;
}

div#main-content-area-bottom {
	margin-top: 25px;
	margin-bottom: 25px;
}
div#main-content-bg-image {
	background : url(images/middle_bg.png);
	width: 1140px;
	
}
.main-content-border-shadow {
	background-color : #284a6b;
	height: 5px;
}

div#quote-container-row {
	margin: 10px 0px 0px 0px;
}
.event-block {
	height: 220px;
	background : black;
}

div#main-content-events {
	margin : 20px 0 20px 0;
}

/* right-sidebar */

div#right-sidebar-container {
}

div#right-sidebar-inner {
	margin: 55px 40px 60px 0;
}

/* left-sidebar */

div#left-sidebar-container {
}

div#left-sidebar-inner {
	margin: 55px 0 60px 40px;
}

.ccm-tags-display ul.ccm-tag-list li a {color: #000 !important;}

div#main-container .ccm-tags-display ul.ccm-tag-list li {
	display: inline;
	color: #fff;
	padding: 5px 8px 6px 8px;
	margin: 3px 6px 3px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	float: left;
	line-height: 13px;
	height: 13px;
}

.ccm-tags-display {margin-bottom: 18px !important;}

/* footer */
div#footer-image {
	background : url(images/footer_design.png);
	background-repeat : no-repeat;
	width: 1140px;
}

div#footer-content-address {
	margin-top : 25px;
	margin-bottom : 25px;
}

div#footer-content-contact {
	margin-top : 25px;
	margin-bottom : 25px;
}

div#footer-content-site-map {
	margin-top : 25px;
	margin-bottom : 25px;
}

div#main-footer {
	background-color : #1e3851;
}

p.footer-sign-in {
	text-align : center;
}

.sign-in {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

div#copyright-container {
	background: black;
	height : 20px;
	bottom : 0px;
}

div.main-content-thumb {
	min-height: 300px;
	overflow: hidden;
}

div.main-content-thumb p {
	margin-top: 0 !important;
}

div.main-content-thumb h3 {
	line-height: 1.2em;
}

/* blog entry social icons */

.main-content-post-footer-share-email {
	padding: 0 4px;
}

.main-content-post-footer-share-twitter {
	padding: 0 4px;
}

.main-content-post-footer-share-facebook {
	padding: 0 4px;
}

div.ccm-profile-attribute {
  margin: 18px 0px 0px 12px;
  padding: 0;
}

div.ccm-profile-attribute div.input {
   margin: 4px 0px 2px 8px;
}
div.ccm-profile-attribute div.input div{
   margin-bottom: 7px;
}

div.ccm-profile-attribute input, select {
   margin-left:16px;
}

div.ccm-profile-attribute ul li {
   list-style:none;
   margin:0;
}

div.ccm-profile-attribute ul.inputs-list {
   margin-bottom:4px;
}

h1.profilin {
   margin-top: 16px;
}

