/* Responsive Theme custom css */

/* some general styles */
html {
	height: auto;
	background : white;
}

.eventFrame {
	text-align : center;
}

div#login-bar-container {
	background : black;
	color : white;
	height : 40px;
	position : fixed;
	width : 100%;
}

div#main-header {
	
}